<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
        
        <!--Enable annotations based resources/configuration-->
        <context:annotation-config></context:annotation-config>
        
        <!--Enable component based search-->
        
        <!--Configure the dependent class Car-->
        <bean id="c" class="com.klu.beans.Car"></bean>
        
        <!--Configurre Dependency Class Engine-->
        <bean id="e" class="com.klu.beans.Engine"></bean>
        
        <!--Configuring the Product Bean-->
        <bean id="p" class="com.klu.beans.Product">
        <constructor-arg name="pid" value="1001"></constructor-arg>
        <constructor-arg name="pname" value="Water Melon"></constructor-arg>
        <constructor-arg name="price" value="200"></constructor-arg>
        </bean>
        
        <bean id="cu" class="com.klu.beans.Customer">
        <property name="cid" value="2000"></property>
        <property name="cname" value="Rajesh"></property>
        </bean>
 </beans>